In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [63]:
#read in data
outfit_data = pd.read_csv('dataset/outfit_data.csv')
product_data = pd.read_csv('dataset/product_data.csv')

In [64]:
product_data.head()

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
0,41085800-02,02,OFFWHITE,WHITE,Female,Adult,SHE,P-PLANA,Bottoms,Trousers & leggings,Trousers,Trousers,datathon/images/2019_41085800_02.jpg
1,53000586-TO,TO,TEJANO OSCURO,BLUE,Female,Adult,SHE,J-JEANS,Bottoms,Jeans,Jeans,Jeans,datathon/images/2019_53000586_TO.jpg
2,53030601-81,81,ROSA PASTEL,PINK,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53030601_81.jpg
3,53050730-15,15,MOSTAZA,YELLOW,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53050730_15.jpg
4,53070773-70,70,ROJO,RED,Female,Adult,SHE,P-PLANA,Tops,Shirts,Shirt,Shirt,datathon/images/2019_53070773_70.jpg

In [66]:
columns = ['cod_modelo_color', 'des_agrup_color_eng', 'des_sex', 'des_age',
       'des_line', 'des_fabric', 'des_product_category',
       'des_product_type', 'des_filename']

In [67]:
#select columns
product_data = product_data[columns]
product_data.head()

,cod_modelo_color,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_type,des_filename
0,41085800-02,WHITE,Female,Adult,SHE,P-PLANA,Bottoms,Trousers,datathon/images/2019_41085800_02.jpg
1,53000586-TO,BLUE,Female,Adult,SHE,J-JEANS,Bottoms,Jeans,datathon/images/2019_53000586_TO.jpg
2,53030601-81,PINK,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dress,datathon/images/2019_53030601_81.jpg
3,53050730-15,YELLOW,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dress,datathon/images/2019_53050730_15.jpg
4,53070773-70,RED,Female,Adult,SHE,P-PLANA,Tops,Shirt,datathon/images/2019_53070773_70.jpg

In [68]:
columns_to_encode = product_data.columns.difference(['cod_modelo_color', 'des_filename'])

# Perform one-hot encoding
encoded_product_data = pd.get_dummies(product_data, columns=columns_to_encode)

In [69]:
encoded_product_data.head()

,cod_modelo_color,des_filename,des_age_Adult,des_age_Kids,des_agrup_color_eng_BLUE,des_agrup_color_eng_BROWN,des_agrup_color_eng_GREEN,des_agrup_color_eng_GREY,des_agrup_color_eng_ORANGE,des_agrup_color_eng_PINK,...,des_product_type_Trenchcoat,des_product_type_Trousers,des_product_type_Tumblers,des_product_type_Turban,des_product_type_Umbrella,des_product_type_Vest,des_product_type_Wallet,des_sex_Female,des_sex_Male,des_sex_Unisex
0,41085800-02,datathon/images/2019_41085800_02.jpg,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,53000586-TO,datathon/images/2019_53000586_TO.jpg,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,53030601-81,datathon/images/2019_53030601_81.jpg,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53050730-15,datathon/images/2019_53050730_15.jpg,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,53070773-70,datathon/images/2019_53070773_70.jpg,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [73]:
print(encoded_product_data.columns)

Index(['cod_modelo_color', 'des_filename', 'des_age_Adult', 'des_age_Kids',
       'des_agrup_color_eng_BLUE', 'des_agrup_color_eng_BROWN',
       'des_agrup_color_eng_GREEN', 'des_agrup_color_eng_GREY',
       'des_agrup_color_eng_ORANGE', 'des_agrup_color_eng_PINK',
       ...
       'des_product_type_Trenchcoat', 'des_product_type_Trousers',
       'des_product_type_Tumblers', 'des_product_type_Turban',
       'des_product_type_Umbrella', 'des_product_type_Vest',
       'des_product_type_Wallet', 'des_sex_Female', 'des_sex_Male',
       'des_sex_Unisex'],
      dtype='object', length=159)

In [71]:
encoded_product_data.shape

(9222, 159)

In [7]:
#count the number of rows in product_data
product_data.shape[0]

9222