In [10]:
import pandas as pd
import pickle
import torch

In [11]:
product_data = pd.read_csv('dataset/product_data_preprocessed.csv')
product_data.head()

,cod_modelo_color,des_filename,cod_color_code_1.0,cod_color_code_2.0,cod_color_code_3.0,cod_color_code_4.0,cod_color_code_4.400709219858156,cod_color_code_5.0,cod_color_code_6.0,cod_color_code_7.0,...,des_product_type_Top,des_product_type_Totes bag,des_product_type_Trainers,des_product_type_Trenchcoat,des_product_type_Trousers,des_product_type_Turban,des_product_type_Umbrella,des_product_type_Vest,des_product_type_Wallet,des_sex_Female
0,41085800-02,datathon/images/2019_41085800_02.jpg,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,53000586-TO,datathon/images/2019_53000586_TO.jpg,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,53030601-81,datathon/images/2019_53030601_81.jpg,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,53050730-15,datathon/images/2019_53050730_15.jpg,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,53070773-70,datathon/images/2019_53070773_70.jpg,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
# load labels.csv
# load datasets/compatibilities.pickle
with open('dataset/compatibilities.pickle', 'rb') as f:
    compatibilities = pickle.load(f)

# create df frm compatibilities columns cod_modelo_color, community_id from dict items
compatibilities_df = pd.DataFrame.from_dict(compatibilities.items())
compatibilities_df.columns = ['cod_modelo_color', 'community_id']
labels = compatibilities_df
# save as labels.csv
# labels = pd.read_csv('labels.csv')
product_data = pd.read_csv('dataset/product_data.csv')
labels.head()

  cod_modelo_color  community_id
0      53070992-01             0
1      51070902-02             0
2      53010605-09             0
3      53000578-01             0
4      53020724-14             0

,cod_modelo_color,community_id,des_agrup_color_eng,des_line,des_fabric,des_product_category,des_product_type,des_filename
0,53070992-01,0,WHITE,SHE,P-PLANA,Tops,Top,datathon/images/2019_53070992_01.jpg
1,51070902-02,0,WHITE,SHE,P-PLANA,Bottoms,Trousers,datathon/images/2019_51070902_02.jpg
2,53010605-09,0,WHITE,SHE,P-PLANA,Outerwear,Coat,datathon/images/2019_53010605_09.jpg
3,53000578-01,0,WHITE,SHE,J-JEANS,Bottoms,Jeans,datathon/images/2019_53000578_01.jpg
4,53020724-14,0,YELLOW,SHE,P-PLANA,Tops,Top,datathon/images/2019_53020724_14.jpg

In [16]:
# split into X and y
X = df.drop(['community_id'], axis=1)
columns_to_encode = X.columns.difference(["des_filename","cod_modelo_color"])
y = df['community_id']
# convert X into dummies and print the shape
X = pd.get_dummies(X,columns=columns_to_encode)
print(X.shape)


# save to csv
X.to_csv('X.csv', index=False)
y.to_csv('y.csv', index=False)

(8741, 113)