In [2]:
import pandas as pd
import pickle

In [4]:
path = "dataset/"

outfit_data = pd.read_csv(path + "/outfit_data.csv")
product_data = pd.read_csv(path + "/product_data.csv")

In [5]:
outfit_data['cod_modelo_color'] = outfit_data['cod_modelo_color'].str.slice(stop=-3)
outfit_data = outfit_data.drop_duplicates()
merged_df = pd.merge(outfit_data, outfit_data, how='left', on='cod_outfit')
merged_df = merged_df[merged_df['cod_modelo_color_x'] != merged_df['cod_modelo_color_y']]
merged_df = merged_df.groupby('cod_modelo_color_x').agg({'cod_modelo_color_y': lambda x: list(x)}).reset_index()
merged_df

     cod_modelo_color_x                                 cod_modelo_color_y
0              37000577  [47087124, 57050294, 57050111, 57081168, 57050...
1              37010681  [57040037, 57040047, 57040818, 47007135, 47037...
2              37010684  [47094023, 57020041, 57001059, 47034043, 57010...
3              37010741  [57040579, 57050294, 47007650, 57072505, 57040...
4              37027713           [47005949, 47095848, 57010292, 47050085]
...                 ...                                                ...
6946           67091003           [57095923, 67020050, 67000502, 57029209]
6947           67106705           [57025921, 57095902, 57037880, 57088629]
6948           87040069           [57093253, 57000438, 57001503, 57010279]
6949           87062013           [57040459, 57071176, 57063817, 57073821]
6950           87097665  [57095786, 57020031, 57010290, 47088255, 57084...

[6951 rows x 2 columns]

In [6]:
compatibilities = dict(zip(merged_df.cod_modelo_color_x, merged_df.cod_modelo_color_y))

with open(path + 'compatibilities.pickle', 'wb') as handle:
    pickle.dump(compatibilities, handle, protocol=pickle.HIGHEST_PROTOCOL)