# Preprocessing the data

In [5]:
import pandas as pd

In [6]:
path = "../../datathon/datathon"

outfit_data = pd.read_csv(path + "/dataset/outfit_data.csv")
product_data = pd.read_csv(path + "/dataset/product_data.csv")

### Product data

In [7]:
product_data.head(10)

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
0,41085800-02,02,OFFWHITE,WHITE,Female,Adult,SHE,P-PLANA,Bottoms,Trousers & leggings,Trousers,Trousers,datathon/images/2019_41085800_02.jpg
1,53000586-TO,TO,TEJANO OSCURO,BLUE,Female,Adult,SHE,J-JEANS,Bottoms,Jeans,Jeans,Jeans,datathon/images/2019_53000586_TO.jpg
2,53030601-81,81,ROSA PASTEL,PINK,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53030601_81.jpg
3,53050730-15,15,MOSTAZA,YELLOW,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53050730_15.jpg
4,53070773-70,70,ROJO,RED,Female,Adult,SHE,P-PLANA,Tops,Shirts,Shirt,Shirt,datathon/images/2019_53070773_70.jpg
5,53003736-94,94,GRIS MEDIO VIGORE,GREY,Female,Adult,SHE,T-TRICOT,Tops,Sweaters and Cardigans,Sweater,Sweater,datathon/images/2019_53003736_94.jpg
6,53045718-17,17,CARAMELO,YELLOW,Female,Adult,SHE,T-TRICOT,Tops,Sweaters and Cardigans,Sweater,Sweater,datathon/images/2019_53045718_17.jpg
7,53050926-37,37,KHAKI,BROWN,Female,Adult,SHE,P-PLANA,Bottoms,Skirts and shorts,Skirts,Skirt,datathon/images/2019_53050926_37.jpg
8,53085736-96,96,GRIS OSCURO VIGORE,GREY,Female,Adult,SHE,T-TRICOT,Tops,Sweaters and Cardigans,Sweater,Sweater,datathon/images/2019_53085736_96.jpg
9,53015770-02,02,OFFWHITE,WHITE,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53015770_02.jpg

In [17]:
# unique color values
product_data["des_product_aggregated_family"].unique().shape

(16,)

In [8]:
product_data.describe()

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
count,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222
unique,9222,110,110,10,3,2,5,7,7,16,39,123,9222
top,41085800-02,99,NEGRO,GREY,Female,Adult,SHE,P-PLANA,Tops,Accessories,Dresses,Dress,datathon/images/2019_41085800_02.jpg
freq,1,2119,2119,2907,9170,9203,9144,3041,2768,2466,1189,1188,1

In [9]:
product_data.isnull().sum()

cod_modelo_color                 0
cod_color_code                   0
des_color_specification_esp      0
des_agrup_color_eng              0
des_sex                          0
des_age                          0
des_line                         0
des_fabric                       0
des_product_category             0
des_product_aggregated_family    0
des_product_family               0
des_product_type                 0
des_filename                     0
dtype: int64

## Outfit Data

In [11]:
outfit_data.head(30).transpose()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
cod_outfit,1,1,1,1,1,1,1,2086,2086,2086,...,626,626,626,626,626,2,2,2,2,2
cod_modelo_color,51000622-02,43067759-01,53060518-02,53030594-08,43077762-01,43063724-OR,43075794-OR,51000622-02,53003778-OR,53010582-TM,...,43067759-01,43005802-OR,43013764-01,43027739-01,53000867-13,53060518-02,51000622-06,41041002-02,53060511-08,43005802-OR

In [13]:
outfit_data.isnull().sum()

cod_outfit          0
cod_modelo_color    0
dtype: int64